body{
    margin-top: 100px;
}

h1{
    text-align: center;
    margin: 20px;
}

ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    width: 50%;
    margin: auto;
}
 
input {
    border: none;
    width: 100%;
}

#tasks {
    display: flex;
    justify-content: space-between;
}

#counter {
    border: none;
    font-size: small;
}